@model BonTemps.Models.allergyMenuViewModel

@{
    ViewBag.Title = "Create";
}

<div class="col-md-10">
    <div class="col-md-12 panel">
        <div class="col-md-12 panel-heading">
            <h3>Menu aanmaken</h3>
        </div>
        <div class="col-md-12 panel-body" style="padding-bottom:30px;">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "Menu", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "cmxform", role = "form", enctype = "Multipart/form-data" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    <div class="col-md-6">
                        <div class="form-group form-animate-text" style="margin-top: 40px !important;">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-text", required = "" })
                            <span class="bar"></span>
                            @Html.LabelFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group form-animate-text" style="margin-top: 40px !important;">
                            @Html.TextAreaFor(m => m.Description, 3, 55, new { @class = "form-text", required = "" })
                            <span class="bar"></span>
                            @Html.LabelFor(m => m.Description)
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>

                        <select id="allergy-ddl">
                            <option value="0">Kies een allergie</option>
                            @foreach (var a in ViewBag.allergies)
                            {
                                <option value="@a.Id">@a.Name</option>
                            }
                        </select>

                        <br />
                        <br />
                        <br />

                        <table class="allergy-table table table-hover table-bordered"></table>

                        @Html.HiddenFor(m => m.Allergies);

                        <div class="form-group form-animate-text" style="margin-top: 40px !important;">
                            <input type="file" name="picture" id="picture" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn fileupload-v1-btn" />
                        </div>
                    </div>


                    <div class="col-md-12">
                        <input class="submit btn btn-danger" type="submit" value="Aanmaken">
                        <button class="submit btn btn-primary" onclick="location.href='@Url.Action("Index", "Menu")';return false;">Annuleer</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<style>
    ul li {
    }

    .table-bordered {
        border: 2px solid gray !important;
    }

    .fa-check:before {
        /*font-family: 'FontAwesome';
        content: '\f00d';*/
        margin-right: 10px;
        color: green;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        Array.prototype.contains = function(obj) {
            var i = this.length;
            while (i--) {
                if (this[i] == obj) {
                    return true;
                }
            }
            return false;
        }

        var allergies = [];
        $(document).ready(function () {
            allergies = $("#Allergies").val().split(',');
            $("#allergy-ddl").change(function() {
                console.log("on change event");
                if (parseInt($("#allergy-ddl").val()) !== 0 &&
                    allergies.contains(parseInt($("#allergy-ddl").val())) === false) {
                    console.log("inside if");
                    allergies.push(parseInt($("#allergy-ddl").val()));
                    $(".allergy-table").append("<tr allergy-id='" + parseInt($("#allergy-ddl").val()) +"'><td class='" +
                        parseInt($("#allergy-ddl").val()) +
                        "'><span class='fa fa-check' aria-hidden='true'></span>" +
                        $("#allergy-ddl :selected").text() +
                        "</td></tr>");
                }
                $("#Allergies").val(allergies.join());
            });
        });

        $("table").delegate('tr', 'click', function () {
            $(this).remove();
            var allergies = $("tr").map(function () { return $(this).attr("allergy-id"); }).get();
            console.log("----------");
            console.log(allergies);
            $(".allergy-table").html("");
            for (var i = 0; i < allergies.length; ++i) {
                $(".allergy-table").append("<tr allergy-id='" + allergies[i] +"'><td class='" +
                    allergies[i] +
                    " td'><span class='fa fa-check' aria-hidden='true'></span>" +
                    $("option[value='" + allergies[i] + "']").text() +
                    "</td></tr>");
            }
            console.log(allergies);
            $("#Allergies").val(allergies.join());
        });


    </script>
}

