@model BonTemps.Models.Menus

@{
    ViewBag.Title = "Create";
}

<div class="col-md-10">
    <div class="col-md-12 panel">
        <div class="col-md-12 panel-heading">
            <h3>Menu aanmaken</h3>
        </div>
        <div class="col-md-12 panel-body" style="padding-bottom:30px;">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "Menu", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "cmxform", role = "form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    <div class="col-md-6">
                        <div class="form-group form-animate-text" style="margin-top: 40px !important;">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-text", required = "" })
                            <span class="bar"></span>
                            @Html.LabelFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group form-animate-text" style="margin-top: 40px !important;">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-text", required = "" })
                            <span class="bar"></span>
                            @Html.LabelFor(m => m.Description)
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input class="submit btn btn-danger" type="submit" value="Aanmaken">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
