@{
    ViewBag.Title = "Home Page";
}
    <div class="col-md-12 padding-0" style="margin-top:20px;">
        <div class="col-md-12 padding-0">
            <div class="col-md-6 padding-0">
                <div class="col-md-12 padding-0">
                    <div class="col-md-12">
                        <div class="panel chart-title">
                            <h3 style="text-align: center">Welkom @ViewBag.username</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel" style="min-width:300px; min-height:200px">
                            <div class="panel-heading-white panel-heading text-center">
                                <h4>Bestellingen laatste 7 dagen</h4>
                            </div>
                            <div class="panel-body">
                                <center>
                                    <canvas class="bar-chart" style="min-width:358px; min-height:179px; width: 358px; height: 179px;"></canvas>
                                </center>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel" style="min-width:300px; min-height:200px">
                            <div class="panel-heading-white panel-heading text-center">
                                <h4>Nieuwe klanten laatste 7 dagen</h4>
                            </div>
                            <div class="panel-body">
                                <center>
                                    <canvas class="bar-chart2" style="min-width:358px; min-height:179px; width: 358px; height: 179px;"></canvas>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading-white panel-heading">
                        <h4>klanten/bestellingen</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <canvas class="line-chart" style="min-width:300px; min-height:300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end: content -->

@section Scripts
{
    <script type="text/javascript">
        (function(jQuery){
            var barData = {
                labels: [@foreach (var m in ViewBag.lastWeekReservations) {
                    <text>
                    '@m.Key',
                    </text>
                }],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(21,186,103,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [@foreach (var m in ViewBag.lastWeekReservations) {
                    <text>
                    '@m.Value',
                    </text>
                }]
                    }
                ]
            };
            var barData2 = {
                labels: [@foreach (var m in ViewBag.lastWeekReservations) {
                    <text>
                    '@m.Key',
                    </text>
                }],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(21,186,103,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [@foreach (var m in ViewBag.lastWeekCustomers) {
                    <text>
                    '@m',
                    </text>
                }]
                    }
                ]
            };
            var lineChartData = {
                labels: [@foreach (var m in ViewBag.lastMonthsData) {
                    <text>
                    '@m.Key',
                    </text>
                }],
                datasets: [
                    {
                        label: "Klanten",
                        fillColor: "rgba(21,186,103,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [@foreach (var m in ViewBag.lastMonthsData) {
                    <text>
                    '@m.Value',
                    </text>
                }]
                    },
                    {
                        label: "Bestellingen",
                        fillColor: "rgba(21,113,186,0.5)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [@foreach (var m in ViewBag.lastMonthsReservations) {
                    <text>
                    '@m',
                    </text>
                }]
                    }
                ]
            };
            window.onload = function(){
                var ctx3 = $(".line-chart")[0].getContext("2d");
                window.myLine = new Chart(ctx3).Line(lineChartData, {
                    responsive : true,
                    showTooltips: true
                });
                var ctx4 = $(".bar-chart")[0].getContext("2d");
                window.myBar = new Chart(ctx4).Bar(barData, {
                    responsive: true,
                    showTooltips: true
                });
                var ctx5 = $(".bar-chart2")[0].getContext("2d");
                window.myBar2 = new Chart(ctx5).Bar(barData2, {
                    responsive: true,
                    showTooltips: true
                });;
            };
        })(jQuery); 
    </script>
}

