@model BonTemps.Models.Table_layout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table_layout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LayoutX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LayoutX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LayoutY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LayoutY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TableLayoutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
