@using System.Globalization
@using BonTemps.Models
@model LoginViewModel
@{
    ViewBag.Title = "Bon Temps log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/defaultcss")
</head>
<body id="mimin" class="dashboard form-signin-wrapper">
    <div class="container">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel periodic-login">
                <div class="panel-body text-center">
                    <h1 class="atomic-symbol">BT</h1>
                    <p class="atomic-mass">@Convert.ToString(DateTime.Now.Date, CultureInfo.InvariantCulture).Split(' ')[0]</p>
                    <p class="element-name">Bon Temps</p>
                    <i class="icons icon-arrow-down"></i>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group form-animate-text" style="margin-top: 40px !important;">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-text", required = "" })
                        <span class="bar"></span>
                        @Html.LabelFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-animate-text" style="margin-top: 40px !important;">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-text", required = "" })
                        <span class="bar"></span>
                        @Html.LabelFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <label class="pull-left">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "icheck pull-left" })
                        &nbsp;&nbsp; @Html.LabelFor(m => m.RememberMe)
                    </label>
                    <input type="submit" class="btn col-md-12" value="Sign in" />
                </div>
                <div class="text-center" style="padding:5px;">
                    @Html.ActionLink("Forgot password", "ForgotPassword", "Account")
                    @Html.ActionLink("| Register", "Register", "Account")
                </div>
            </div>
        }
    </div>
    <style>
        .text-danger {
            color: white;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/defaultscripts")

    <!-- alerts-->
    <script>
            @{
                if (TempData["error"] != null)
                {
                    <text>alertify.error('@TempData["error"]');</text>
                }
                if (TempData["warning"] != null)
                {
                    <text>alertify.warning('@TempData["warning"]');</text>
                }
                if (TempData["success"] != null)
                {
                    <text>alertify.success('@TempData["success"]');</text>
                }
                if (TempData["message"] != null)
                {
                    <text>alertify.message('@TempData["message"]');</text>
                }
            }
    </script>

</body>
</html>
