<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="Miminium Admin Template v.1">
    <meta name="author" content="Isna Nur Azis">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bon Temps Intranet</title>

    @Styles.Render("~/Content/defaultcss")

    <!-- end: Css -->

    <link rel="shortcut icon" href="asset/img/logomi.png">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="mimin" class="dashboard">
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <a href="index.html" class="navbar-brand">
                    <b>Bon Temps</b>
                </a>
                <ul class="nav navbar-nav navbar-right user-nav" style="position:fixed; right:40px;">
                    <li class="user-name">
                        <span>
                            @if (Session["roles"] != null)
                            {
                                foreach (var role in (List<string>)Session["roles"])
                                {<span>@role </span> }
                        }
                        else
                        { <span>Gebruiker</span>}
                        </span>
                    </li>
                    <li class="dropdown avatar-dropdown">
                        <img onclick="window.location = '@Url.Action("LogOut", "Account")';" src="http://www.pvhc.net/img162/kzkdpyqytlhncwjrpvzf.png" style="height: 30px; width: 30px; margin-top: 40%; cursor: pointer;" alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->

    <div class="container-fluid mimin-wrapper">

        <!-- start:Left Menu -->
        <div id="left-menu">
            <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <!--<li><div class="left-bg"></div></li>-->
                    <img src="http://i.imgur.com/lLy2RMj.png" width="150px" class="animated fadeInLeft" height="150px" alt="logo" style="margin-left: 35px; margin-bottom:5px; margin-top: 10%;">
                    <hr>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            Reserveren
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="@Url.Action("Create", "Reservation")">Aanmaken</a></li>
                            <li><a href="@Url.Action("Index", "Reservation")">Overzicht</a></li>
                        </ul>
                    </li>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            Menu's
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="@Url.Action("Create", "Menu")">Aanmaken</a></li>
                            <li><a href="@Url.Action("Index", "Menu")">Overzicht</a></li>
                        </ul>
                    </li>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            Allergieën
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li>
                                <a href="@Url.Action("Create", "Allergies")">Aanmaken</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Allergies")">Overzicht</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            Tafel Overzicht
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="@Url.Action("Index", "Table_layout")">Bekijken</a></li>
                            <li><a href="@Url.Action("Edit", "Table_layout")">Wijzigen</a></li>
                        </ul>
                    </li>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            Klant overzicht
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="@Url.Action("Index", "Customers")">Bekijken</a></li>
                        </ul>
                    </li>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            Account Overzicht
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="@Url.Action("Index", "Role_Manage")">Aanmaken</a></li>
                        </ul>
                    </li>

                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            Error
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="@Url.Action("NotFound", "Menu")">Aanmaken</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: Left Menu -->
        <!-- start: content -->
        <div id="content">
            <br />
            <div class="container">

                @if (TempData["messageSuccess"] != null)
                {
                    <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-info-sign"></span> @TempData["messageSuccess"]
                    </div>
                }
                @if (TempData["messageWarning"] != null)
                {
                    <div class="alert alert-warning fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-warning-sign"></span> @TempData["messageWarning"]
                    </div>
                }
                @if (TempData["messageError"] != null)
                {
                    <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["messageError"]
                    </div>
                }
                @if (TempData["messageInfo"] != null)
                {
                    <div class="alert alert-info fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-info-sign"></span> @TempData["messageInfo"]
                    </div>
                }
            </div>
            <div style="margin-top: 30px !important;">
            @RenderBody()
                </div>
        </div>
        <!-- end: content -->


    </div>

    <!-- start: Mobile -->
    <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
        <span class="fa fa-bars"></span>
    </button>
    <!-- end: Mobile -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/defaultscripts")
    @RenderSection("Scripts", false)

    <!-- alerts-->
    <script>
    @{
        if (TempData["error"] != null)
        {
            <text>alertify.error('@TempData["error"]');</text>
        }
        if (TempData["warning"] != null)
        {
            <text>alertify.warning('@TempData["warning"]');</text>
        }
        if (TempData["success"] != null)
        {
            <text>alertify.success('@TempData["success"]');</text>
        }
        if (TempData["message"] != null)
        {
            <text>alertify.message('@TempData["message"]');</text>
        }
       }
    </script>

    <!-- custom -->
    <script type="text/javascript">
        (function () {
            $('.date-fr').bootstrapMaterialDatePicker({ format: 'DD-MM-YYYY HH:mm:ss', animation: true, lang: 'nl', weekStart: 1, cancelText: 'Annuleer' });
            $('.date-fr').removeAttr("data-val-date");
        })(jQuery);
    </script>
    <!-- end: Javascript -->
</body>
</html>